<div class="homepage-bloc">
  <div class="titles">
    <h1 id="main-title">Playgroundz</h1>

    <h2 id="subtitle">Do not play alone!</h2>

    <div class="button-home">
      <%= link_to 'Play!', playgrounds_path, class: "btn btn-lg btn-primary" %>
    </div>
  </div>
</div>


